# Ignore Jupyter notebooks that were not part of the final model
Alex/machine_learning.ipynb
Alex/machine_learning2.ipynb
Alex/machine_learning4.ipynb
# ignore Jupyter notebook checkpoints folder
Alex/.ipynb_checkpoints/